<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" defaultHref="/artist">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{artist.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-align" size="6" *ngFor="let album of artistService.albums" (click)="openDetails(album.external_id)">
        <img class="img-thumbnail" src="http://localhost:3000/album/get-image-album/{{album.image}}">
        <ion-label>
          <p>{{album.title}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>