<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="artist">
        <ion-icon name="person"></ion-icon>
        <ion-label>Artista</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="album">
        <ion-icon name="disc"></ion-icon>
        <ion-label>Álbum</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="song">
        <ion-icon name="musical-note"></ion-icon>
        <ion-label>Canción</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="playlist">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>PlayList</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="logout">
        <ion-icon name="return-right"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
